<section>
    <h1> <strong>Por favor elija un medio de pago !</strong> </h1>
    <button class="as" id="mp" onclick="pago(1)">Mercado Pago</button>
    <button class="as" id="ef" onclick="pago(2)">Efectivo</button>

    <section id="infoPago"></section>
</section>