#title {
  width: 100%;
  padding-top: 20px;
}
section {
  margin-top: 30px;
  text-align: center;
}
input {
  display: block;
  margin: 20px auto 20px auto;
}
input[type="submit"] {
  background: rgb(94, 94, 236);
  color: white;
  border-radius: 5px;
}

.text {
  margin: 50px 80px;
}
h3 {
  border: gray;
}
.warning {
  width: 40%;
  margin: auto;
  text-align: center;
  background: lightcoral;
  color: red;
  padding: 8px;
}

.approved {
  width: 40%;
  margin: auto;
  text-align: center;
  background: lightgreen;
  color: green;
  padding: 8px;
}

.point {
  background: rgb(94, 94, 236);
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
.point:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  #title {
    width: 100%;
  }
  section {
    padding: 20px;
  }
}
